      <header>
        <h1 class="page-title">{{ page.title }}</h1>
        <p>{{ page.description }}<p>


          {% for page_name in site.pages_list %}
              &nbsp;&nbsp;&nbsp;<small><a href="/{{ page_name | downcase }}">{{ page_name }}</a></small>
          {% endfor %}




{% assign posts=site.posts | where:"name", page.name %}
{% for post in posts %}
  {% if post.lang != page.lang %}
    <link rel="alternate" hreflang="{{post.lang}}" href="{{post.url}}" />
  {% endif %}
{% endfor %}

   </header>
