<h2>All have sinned</h2>

<p>When John the Babtist was born, his father, having a revelation from God, prophesied over him and Jesus:</p>
{% bible Luke 1:76-79 %}

<p>He preached to the people near the Jordan river, and preached a message of repentance. Istighfar.</p>
<p>The Ministry of John the Babtist was to prepare the poeple to the starting of Jesus's ministry.</p>
<p>There were many that were selfrighteous and thought that by their efforts at keeping the law they were better than others and without blame. But their hearts were far from God.</p>
{% bible Luke 3:7-9 %}

<p>People came out to John to be Babtized, many repented and turned their heards towards God. When Jesus came to be babtized John was stunned. How could he babtize Jesus. He did not even feel worthy to unlash his sandals.</p>
{% bible Luke 3:15-18 %}

<p>When Jesus came to be babtixed, his official ministry began. The Holy Spirit descened upon him, and God spake audible from heaven confirming that He was the Son of God.</p>
{% bible Luke 3:21-22 %}



<h3>Why do we need Istighfar. God requires you to be Just as Holy and righteous as he is</h3>
{% bible 1 Peter 1:13-21 %}

<p>The standard for Gid is high. The ones that were the most extreme at following every single aspect of the law, still fell behind. As Jesus declared in the sermon of the mount.</p>
{% bible Matthew 5:20 %}


<p>Istighfar. We have sinned and all fallen short, and as a reslut we would be all separated forever from God.</p>
{% bible Romans 6:23 %}


<p>Istighfar. All have sinned and therefore lack a connection with God.</p>
{% bible Romans 3:10-31 %}


<p>You cannot earn righteousness with your own deeds. You are in need of Istighfar.</p>
{% bible Gal 2:16 %}

<p>God loves you so much and has made Istighfar possible. He has always wanted a relationship with you. Forever, in Heaven. That is Why he emptied himself and became man, to die in your stead. On the Cross. To take the punishment you deserved, death, and put it onto himself, dying on the cross, in order to set you free.</p>

{% bible Philippians 2:5-11 %}

{% bible Romans 5:6-10 %}

{% bible John 3:16 %}

{% bible 1 Joh 5:12 %}

{% bible 1 Peter 2:21-25 %}

<h2>You can have istighfar</h2>
<p>Believe and confess that Jesus is Lord, That he died for you on the cross, bearing all your sins in your stead, that he was raised from the dead.</p>
{% bible Romans 10:9-13 %}
<hr>

