
<h4>Is Jesus the Son of God?</h4>
<p>the Qur'an says no: Suras 43:50, 19:29-39</p>
<p>The Word of God says yes:</p>
{% bible John 1:1 %}
{% bible John 1:14 %}
{% bible John 1:24 %}
{% bible John 10:30 %}
{% bible 1 John 5:10 %}
{% bible John 5:18 %}
{% bible Mark 14:61-65 %}
{% bible Matt 16:13-17%}

<h4>Is Jesus just a messenger, not God?</h4>
<p>the Qur'an says yes: Suras 43:59, 19:29-34</p>
<p>The Word of God does not agree:</p>
{% bible Matt 15:5%}
{% bible Rom 9:5%}
{% bible Col 2:9%}
{% bible Tit 2:13%}
{% bible Heb 1:10%}
{% bible Joh 8:58%}

<h4>Was Jesus crucified?</h4>
<p>the Qur'an says no: Sura 4:157</p>
<p>The Word of God - YES: Matt 20:17-19, 27-31, Mark 15:13,14,20,27 Luk 23:21, Acts 2:23,36, 4:10, 28:5</p>

<h4>Was Jesus physically raised from the dead?</h4>
<p>the Qur'an does not agree: Sura 4:157</p>
<p>The Word of God says yes:</p>
{% bible 1 Cor 15:1-6 %}
{% bible 1 Cor 15:17 %}
{% bible Rev 1:17-18 %}
{% bible Acts 2:22-24 %}
{% bible Acts 2:32-36 %}

<h4>The Trinity?</h4>
<p>The Qur'an says no: Sura 4:171</p>
<p>The Word of God says yes:</p>
{% bible Matt 28:19 %}
{% bible Matt 3:16-17 %}
{% bible 2 Cor 13:14 %}
{% bible Luke 1:35 %}

<h4>Salvation by Grace?</h4>
<p>The Qur'an says no</p>
<p>The Word of God, yes:</p>
{% bible Eph 2:8-10 %}
{% bible Gal 2:16-21 %}
{% bible Rom 4:1-6 %}
{% bible Rom 3:21-31 %}


<h4>God the father</h4>
<p>The Word of God describes God as our Father, Joh 8:41, 14:6-11,17:1,5,11,21-25, Matt 5:16.45.48</p>

<h4>Personally know God</h4>
<p>John 17:3, 8:16-19,38, Heb 1:3</p>

<h4>The bible is not corrupt</h4>
{% bible Is 40:8 %}
{% bible Matt 24:35 %}
{% bible 2 Tim 3:15-16 %}

<hr>
