<h2>Who is Jesus?</h2>

{% bible Matthew 5:10 %}

<hr>

<p>In order to understand who Jesus is, you need to look in the bible to see what Did Jesus say about himself? What did the people who lived day to day with him say? What did God the Father himself speak about him?</p>

<h3>Who did others say Jesus was?</h3>

<p>People who witnessed the miracles that Jesus did, who listened to his teachings and lived among him testified time and again that Jesus is the Son of God, that he is the Messiah, the one who is to save the world, the one who brings forgiveness, istighfar.</p>

{% bible Matthew 16:13-17 %}

<p>
If Jesus was just a prophet he would have rebuked there. But he allowed them to call hom the Christ, the Messiah, the anointed one of God. He allowed them to call him the <b>son of the Living God</b>. Did Jesus rebuke Peter for making this outragous claim? No, he blessed him and said that this was something that God the Father had revealed to the disciple. If you truly want to know God and be able to meet him one day, you need to ask God to reveal himself to you.
</p>

<p>The next scenario takes place after Jesus has fed thousands of people through a miracle that multiplied a few loaves of bread and fish. He sends his disciples over the sea of Galillee and stays himself behind and prays.. Then he comes walking to the them on the water</p>

{% bible Matthew 14:25-33 %}

<p>Even the evil spirits knew that Jesus was the Son of God<p>

{% bible Luke 4:40-41 %}

<p>Before Jesus was cusified (he was indeed, that is the only reason you can be granted forgivness, the only way to istigfar)</p>

<h3>What did Jesus say about himself?</h3>

{% bible Matthew 26:63-64 %}

<h3>What does God the Father say about Jesus?</h3>
<p>Several times in the bible you see occations when God speaks audible from heaven. So you should know that they are reall important things that you need to take heed to. This is what he says:</p>

{% bible Matthew 17:1-9 %}

